html{
    background-color: black;

    padding: 0px;

    overflow: hidden;
}


button{
    color: blue;


}

/* Hidden */
.hidden {

    display: none !important;
}
body {
    background-color: midnightblue;
    color: white;

    min-width: 100vmin;
    max-width: 100vmin;
    aspect-ratio: 1;

    margin: 0px auto;
    padding: 0px;

    font-family: sans-serif;
}

h1 {
    background-color: black;

    width: 100%;
    max-height: 30%;
    padding: 20px 0;
    
    margin: 0px;

    text-align: center;
}

#menu {
    width: 100%;
    height: 100%;

}

#menu *{
    overflow: hidden;
}

#menu>.container {
    width: 100%;
    height: inherit;
    max-height: 80%;

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;
}

#numCards {
    background-color: transparent;

    font-size: 1.5em;
    font-weight: 700;

    border: none;
    outline: none;

    box-shadow: inset 1px 1px 10px #000;
    padding: 25px 0px;
    width: 20%;
    border-radius: 1em;
    background: #fff;

    text-align: center;
}

#numCards>option {
    background-color: midnightblue;
    font-size: 18px;
    text-align: center;
    flex-direction: column;
    
    display: flex;
}

#start {
    background-color: transparent;

    font-size: 1.5em;
    min-height: 18vmin;
    max-height: 15vmin;
    aspect-ratio: 2;
    font-weight: 700;
    cursor: pointer;

    border-radius: 50em;
    outline: none;
    border: solid 2px #fff;
    color: #fff;
    opacity: 75%;

}

#start:hover {
    box-shadow: #fff 0px 0px 15px;
    transition: all 500ms;
    opacity: 100%;
}
